[Desktop Entry]
Name=Sublime Text
Comment=The World's best text editor!
TryExec=subl
Exec=subl
Icon=~/applications/sublime_text/Icon/256x256/sublime_text.png
Type=Application
Categories=Utility;TerminalEmulator;Office;
