[Desktop Entry]
Name=Google Chrome
TryExec=/usr/bin/google-chrome-stable
Exec=/usr/bin/google-chrome-stable --show-app-list
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
