[Unit]
Description=Xbox controller driver daemon

[Service]
Type=forking
ExecStart=/usr/bin/xboxdrv --daemon --detach --pid-file=/var/run/xboxdrv.pid --dbus disabled --config=/etc/default/xboxdrv
PIDFile=/var/run/xboxdrv.pid
Restart=always

[Install]
WantedBy=multi-user.target
