[Desktop Entry]
Name=Sublime Text
Comment=The World's best text editor!
TryExec=subl
Exec=subl -n
Icon=/usr/local/sublime-text/Icon/256x256/sublime-text.png
Type=Application
Categories=Utility;TerminalEmulator;Office;
